body {
  margin: 0;
  background-color: rgb(25, 1, 44);
  font-family: Consolas, Lucida Console, monospace;
  overscroll-behavior: none;
  overflow-x: hidden;
  text-decoration: none;
}

.main {
  color: aliceblue;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* Navbar  */

.navbar {
  position: sticky;
  height: 60px;
  width: 100%;
  top: 0;
  padding: 10px;
  z-index: 100;
  background-color: rgb(25, 1, 44);
  box-shadow: 0 2px 4px rgba(228, 212, 212, 0.5);
}

.navbar-list {
  list-style: none;
  display: flex;
  gap: 50px;
  font-size: 18px;
}

@media only screen and (max-width: 1000px) {
  .navbar-list {
    justify-content: center;
    margin-left: -40px;
  }
}

.navbar-item {
  cursor: pointer;
  height: 27px;
}

#navbar-btn {
  width: 80px;
  padding: 5px;
  background-color: rgb(170, 32, 142);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  margin-top: -2px;
}

.active {
  border-bottom: 1px solid rgb(46, 151, 14);
}

.navbar-item:hover {
  transition: border-bottom 0.5s ease-in-out;
  border-bottom: 1px solid blueviolet;
}

h1 {
  margin-top: 20px;
  margin-bottom: 50px;
}

#subtitle {
  margin-top: -20px;
  width: 400px;
  font-size: 15px;
  margin-bottom: 30px;
}

#info {
  margin-bottom: 10px;
  width: 400px;
}

canvas {
  background-color: white;
}

.button-row {
  margin-top: 10px;
  width: 400px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

#start-btn {
  margin-left: 10px;
}

#clear-btn {
  background-color: #27cd67;
}

#undo-btn {
  background-color: #ee5348;
  margin-left: 10px;
}

#user {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
}

#user:focus {
  outline: none;
  border-color: #5b9dd9;
  box-shadow: 0 0 5px #5b9dd9;
}

.row {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.row-label {
  flex: 1 1 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: white;
}

.drawing-container {
  flex: 1 1 0;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 10%;
  margin: 1px;
  overflow: hidden;
}

.drawing {
  width: 100%;
}

.highlight {
  background-color: yellow;
}

#container {
  width: calc(100% - 500px);
  margin-bottom: 100px;
}

#chartContainer {
  position: fixed;
  right: 50px;
  top: 50%;
  transform: translate(0, -50%);
}

#smartPadContainer {
  position: fixed;
  right: 50%;
  top: calc(50% + 22px);
  transform: translate(0, -50%);
}

#smartPadContainer > canvas {
  outline: 10000px solid rgba(0, 0, 0, 0.8);
}

@media only screen and (max-width: 928px) {
  #smartPad {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  #smartPadContainer {
    position: relative;
    right: 0;
    top: 0;
    transform: translate(0, 0);
    margin-bottom: 40px;
  }

  #chartContainer {
    position: relative;
    right: 0;
    top: 0;
    transform: translate(0, 0);
    margin-bottom: 100px;
  }

  #container {
    width: 90%;
    top: 80%;
    right: 50%;
  }

  .button-row {
    margin-left: auto;
    margin-right: auto;
  }
}

#drawingPadContainer {
  width: 400px;
}

/* Button CSS */
.button-53 {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  font-family: Consolas;
  font-weight: bold;
  line-height: 1rem;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  width: 65px;
  height: 35px;
}

.button-53:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-53:hover:after {
  bottom: 2px;
  left: 2px;
}
