body {
  color: aliceblue;
  margin: 0;
  text-align: center;
  background-color: rgb(25, 1, 44);
  overscroll-behavior: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family: Consolas, Lucida Console, monospace;
}

h1 {
  margin-top: 50px;
}

#subtitle {
  margin-top: -20px;
  width: 400px;
  font-size: 15px;
}

#info {
  width: 400px;
}

#canvas {
  background-color: white;
}

.button-row {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

#start-btn {
  margin-left: 10px;
}

#clear-btn {
  background-color: #27cd67;
}

#undo-btn {
  background-color: #ee5348;
  margin-left: 10px;
}

#user {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
}

#user:focus {
  outline: none;
  border-color: #5b9dd9;
  box-shadow: 0 0 5px #5b9dd9;
}

.button-53 {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  font-family: Consolas;
  font-weight: bold;
  line-height: 1rem;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  width: 65px;
  height: 35px;
}

.button-53:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-53:hover:after {
  bottom: 2px;
  left: 2px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.row-Label {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.drawings-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.drawing-container {
  background-color: white;
  text-align: center;
  border-radius: 5%;
  margin: 4px;
  color: #000000;
}
.drawing {
  max-width: 120px;
}
