#smartPad-subtitle {
  width: 80%;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.row-label {
  flex: 1 1 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: white;
}

.drawing-container {
  flex: 1 1 0;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 10%;
  margin: 1px;
  overflow: hidden;
  max-width: 8%;
}

.drawing {
  width: 100%;
}

.highlight {
  background-color: yellow;
}

#drawingsContainer {
  width: calc(100% - 600px);
  margin-bottom: 100px;
}

#drawingsContainer > .row {
  margin-left: 0px;
}

#decisionContainer,
#chartContainer {
  position: fixed;
  top: 55%;
  right: 50px;
  transform: translate(0, -50%);
  width: 500px;
  height: 500px;
  background-color: white;
  color: black;
}

#smartPadContainer {
  position: fixed;
  right: 50%;
  top: calc(50% + 22px);
  transform: translate(0, -50%);
}

#smartPadContainer > canvas {
  outline: 10000px solid rgba(0, 0, 0, 0.8);
}

#predictedLabelContainer {
  color: white;
  font-size: 30px;
  position: relative;
}

.flagged {
  background-color: red !important;
}

.correct {
  background-color: rgb(94, 180, 94);
}

/* Decision matrix chart */
table {
  border-collapse: collapse;
  text-align: center;
  margin-left: 50px;
  margin-top: 50px;
}

td {
  width: 50px;
  height: 50px;
  padding: 0;
}

#cols-title {
  height: 50px;
  display: flex;
  margin-left: 25px;
  align-items: center;
  position: absolute;
  font-size: 20px;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

#rows-title {
  height: 50px;
  display: flex;
  margin-left: 25px;
  margin-bottom: 25px;
  align-items: center;
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 0;
  transform: translate(-50%, 0) rotate(-90deg);
}

/* Responsive page */
@media only screen and (max-width: 1000px) {
  #smartPad-subtitle,
  #testing-subtitle {
    margin-left: 15%;
  }

  #smartPad-h1,
  #testing-h1 {
    margin-left: 50px;
  }

  #smartPad {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #smartPadContainer {
    position: relative;
    right: 0;
    top: 0;
    transform: translate(0, 0);
    margin-bottom: 40px;
  }

  #chartContainer,
  #decisionContainer {
    position: relative;
    right: 0;
    top: 0;
    transform: translate(0, 0);
    margin-bottom: 100px;
  }

  #drawingsContainer {
    width: 90%;
    top: 80%;
    right: 50%;
  }

  .button-row {
    margin-left: auto;
    margin-right: auto;
  }
}
